<!-- Bio Page Layout --> 
<div class="page-container">
    <p>_______</p>
    <div class="row">
        <div class="col-sm-3">
        <div class="page-sub-header">
        BIOGRAPHY
        </div>
            <div class="page-sub-intro">A life’s work in statistics, analytics, research and data science, developing analytics solutions and delivering insight.</div>
        </div>
        <div class="col-sm-9 page-content">
            <p>In a career spanning over 2 decades I have been fortunate to follow my passion for data and analytics, in both academia and industry.  Applying statistical, computational and machine learning methods to a variety of data-driven problems in financial services, marketing, market research and medical statistics.</p>
            <p>Throughout my career I have strived to seek insight from data, solve problems using analytics - no matter what the environment.  Designing diagnostic methods, building data repositories, delivering analytics decision systems and developing many machine and statistical learning solutions, exploiting a variety of supervised and unsupervised techniques.  Always with the objective of drawing insight from data.</p>
            <p>A passionate analytics innovator, skilled at increasing individual and organisational analytics and data capabilities.  Advancing and nurturing people through mentoring, coaching, collaboration and coffee.  Always on the edge of the next innovation, I help advance organisation capability through next gen analytics architecture, innovative data solutions, building machine learning models and deploying decision systems.</p>
            <p>I'm on a mission to discover through data and analytics.</p>
        </div>
    </div> 
</div>
