<!-- Page Layout -->
<div class="page-container">
    <p>_______</p>
    <div class="row">
        <div class="col-sm-3">
            <div class="page-sub-header">
            EXPERTISE</div>
            <div class="page-sub-intro">Over two decades experience leading analytics teams in delivery of predictive modelling solutions, analytics systems and data science.</div>
        </div>
      
        <div class="col-sm-4 page-content">
            <ul class="page-list">
                <li>Behavioural predictive modelling methods</li>
                <li>Credit application scoring modelling</li>
                <li>Propensity and attrition modelling </li>
                <li>Customer segmentation and retention modelling</li>
                <li>Development of commercial geodemographic clustering and segmentation models</li>
                <li>Risk capital modelling of probability of default, exposure of default and loss given default </li>
                <li>Loss forecasting and credit provisioning modelling</li>
                <li>Implementing predictive model systems and models</li>
                <li>Maintaining and monitoring models</li>
                <li>Multivariate analysis techniques</li>
            </ul>                  
        </div>
        
        <div class="col-sm-4 page-content">
            <ul class="page-list">
                <li>Neural networks with multi-layered perceptron </li>
                <li>Bootstrap and Jackknife simulation for resampling distributions</li>
                <li>Reject inference methods</li>
                <li>Sampling methods and stratified random sampling</li>
                <li>Analytics and data science people leader</li>
                <li>Leadership and management of small and large analytics teams</li>
                <li>Variable transformation and feature derivation</li>
                <li>Data commercialisation</li>
                <li>Analytics frameworks and architecture</li>
                <li>Adaptive analytics system deployment</li>
                <li>Programming in R, Python, SAS, SQL, Fortran, VBA, Visual Basic, HTML, CSS, JavaScript</li>
            </ul>                  
        </div>
        
    </div>     
</div>