<!-- Page Layout -->
<div class="container">
    <p>_______</p>
    <div class="row">
        
        <div class="col-sm-3">
                <div class="page-sub-header">PUBLICATIONS</div>
            <div class="page-sub-intro">Articles, letters, posters and papers published in refereed research journals.</div>
        </div>
      
        <div class="col-sm-7 page-content">
            <ul class="page-list">
              <li>Poller L, Van Den Besselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. Correction for lack of coincidence of normal and abnormal calibration slopes in ISI determination. Thrombosis and Haemostasis </li>
              <li>Poller L, Van Den Besselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. The effect of sample size on fresh plasma thromboplastin ISI determination. British Journal of Haematology.</li>
              <li>Poller L, Van Den Besselaar AMHP, Jespersen, J, Tripodi, A, <ins>Houghton D</ins>. A comparison of linear and orthogonal regression analysis for local INR determination in ECAA coagulometer studies. European Concerted Action on Anticoagulation. British Journal of Haematology. </li>
              <li>Poller L, Barrowcliffe TW, Van Den Besselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. Minimum lyophilized plasma requirement for ISI calibration. European Concerted Action on Anticoagulation. American Journal of Clinical Pathology.</li>
              <li>Poller L, Barrowcliffe TW, Van Den Besselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. The European Concerted Action on Anticoagulation (ECAA) evaluation of a set of lyophilized normal plasmas to establish the normal prothrombin time for coagulometer systems. Thrombosis and Haemostasis.</li>
              <li>Poller L, Van Den Besselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. The European Concerted Action on Anticoagulation (ECAA): Field studies of coagulometer effects on the ISI of ECAA thromboplastins. Thrombosis and Haemostasis.</li>
              <li>Poller L, Van Den Besselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. The importance of "like to like" ISI calibrations with freeze dried plasmas. European Concerted Action on Anticoagulation. Journal of Clinical Pathology.</li>
              <li>Poller L, Van Den Besselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. A comparison of artificially-depleted, lyophilized coumarin and fresh coumarin plasmas in thromboplastin calibration. European Concerted Action on Anticoagulation. British Journal of Haematology.</li>
              <li>Poller L, Barrowcliffe TW, Van Den Besselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. A simplified statistical method for local INR using linear regression. European Concerted Action on Anticoagulation. British Journal of Haematology.</li>
              <li>Pollar L, Barrowcliffe TW, van den Basselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. The European Concerted Action on Anticoagulation (ECAA). A simplified statistical method for local INR using linear regression. British Journal Haematology.</li>
              <li><ins>Houghton D</ins>, Barrowcliffe TW, van den Basselaar AMHP, Jespersen J, Tripodi A, Pollar L. The European Concerted Action on Anticoagulation (ECAA). ECAA field studies of lyophilized plasmas in local prothrombin time (PT) system ISI calibration. Abstract, XVIth Congress of International Society on Thrombosis and Haemostasis.</li>
              <li><ins>Houghton D</ins>, Barrowcliffe TW, van den Basselaar AMHP, Jespersen J, Tripodi A, Pollar L. The European Concerted Action on Anticoagulation (ECAA). An assessment of the reliability of a simplified method of statistical analysis for INR correction based on linear regression. Abstract, XVIth Congress of International Society on Thrombosis and Haemostasis.</li>
              <li>Poller L, Barrowcliffe TW, Van Den Besselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. European Concerted Action on Anticoagulation (ECAA)- The multicentre calibration of rabbit and human ECAA reference thromboplastins. Thrombosis and Haemostasis.</li>
              <li>Pollar L, Barrowcliffe TW, van den Basselaar AMHP, Jespersen J, Tripodi A, <ins>Houghton D</ins>. The European Concerted Action on Anticoagulation (ECAA). Multicentre calibrations of human and rabbit reference thromboplastins. British Journal of Haematology.</li>
              <li>Poller L, <ins>Houghton D</ins>, Carroll J. The reliability of the mean normal prothrombin time of fresh plasmas and of the normal value from a lyophilized 'normal' plasma in prothrombin ratio determination. British Journal of Haematology.</li>
            </ul>        
        </div>
        
    </div>
       
</div>