<!-- Page Layout -->
<div class="page-container">
    <p>_______</p>
    <div class="row">
        <div class="col-sm-3">
            <div class="page-sub-header">
            RELATIONSHIPS</div>
            <div class="page-sub-intro">Companies and organisations worked with, collaborated with and worked for.</div>
        </div>
      
        <div class="col-sm-3">
            <div class="microsoft"></div>
            <div class="teradata"></div>    
            <div class="hortonworks"></div>
            <div class="hyperanna"></div> 
            <div class="reinventure"></div>
            <div class="tableau"></div>
            <div class="databank"></div>
            <div class="dataro"></div>
            <div class="deloitte"></div> 
            <div class="nswgov"></div>
        </div>
        
        <div class="col-sm-3">
            <div class="ibm"></div>
            <div class="apra"></div>      
            <div class="fico"></div> 
            <div class="qlik"></div> 
            <div class="scoresharp"></div>
            <div class="datarepublic"></div>
            <div class="fueld"></div>
            <div class="aprintern"></div>
            <div class="equifax"></div>
            <div class="edgered"></div>
        </div>
        
        <div class="col-sm-3">
            <div class="westpac"></div>   
            <div class="sas"></div>
            <div class="basiq"></div>
            <div class="orc"></div> 
            <div class="pwc"></div> 
            <div class="tcs"></div>
            <div class="manchester"></div>
            <div class="kpmg"></div> 
            <div class="inferentics"></div>
            <div class="experian"></div>
        </div>

    </div>
</div>
